<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/']">Image</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/']" routerLinkActive="font-weight-bold">Upload</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/uploadMultiple']" routerLinkActive="font-weight-bold">Upload
                    Multiple</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/download']" routerLinkActive="font-weight-bold">Download</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/downloadMultiple']" routerLinkActive="font-weight-bold">Download Multiple</a>
            </li>
        </ul>
    </div>
</nav>